<!--
  Generated template for the Select page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
     Selectionnez
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content >
     <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="search()"
                   placeholder="Rechercher un quartier">
    </ion-searchbar>   
  <ion-list *ngIf="newQuartiers.length" inset>
      <ion-item *ngFor="let quartier of newQuartiers" (click)="dismiss(quartier.nom)" [hidden]="quartier.hide">
        {{quartier.nom}}
      </ion-item>
  </ion-list>
  <div padding [hidden]="!queryText">
    <button ion-button   (click)="newQuartier()" block > Créer un quartier 
        <ion-icon name="add"></ion-icon>
      </button>
  </div>
</ion-content>
